[submodule "dependencies/JInterface"]
	path = dependencies/JInterface
	url = https://github.com/luizfeldmann/JInterface
[submodule "dependencies/CLI11"]
	path = dependencies/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "dependencies/mINI"]
	path = dependencies/mINI
	url = https://github.com/pulzed/mINI
[submodule "dependencies/cmrc"]
	path = dependencies/cmrc
	url = https://github.com/vector-of-bool/cmrc
