[submodule "dependencies/JInterface"]
	path = dependencies/JInterface
	url = https://github.com/luizfeldmann/JInterface
[submodule "dependencies/CLI11"]
	path = dependencies/CLI11
	url = https://github.com/CLIUtils/CLI11.git
